*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    padding:10px;
    font-size:20px;
}
.random-color-generator-container{
    display: flex;
    gap: 10px;
}
.hex-color-container,.rgb-color-container{
    min-height: 95vh;
    flex:1
}
.hex-color-container button{
    padding: 10px 20px;
    font-size: 15px;
    border: 1px solid powderblue;
    border-radius: 5px;
    font-weight: bold;
    background-color: aqua;
    cursor: pointer;
}
.rgb-color-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.hex-color-container{
    background-color: rgb(158, 232, 88);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.hex-color-value,.rgb-color-value{
    color: #fff;
    font-weight: bold;
    font-size: 30px;

}

.rgb-color-container{
    background-color: rgb(19, 35, 209);
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rgb-color-container button{
    padding: 10px 20px;
    font-size: 15px;
    border: 1px solid powderblue;
    border-radius: 5px;
    font-weight: bold;
    background-color: aqua;
    cursor: pointer;
}