* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 15px;
}

.post-list-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.post-item{
    display: flex;
    flex-direction: column;
    gap:20px;
    border: 2px solid green;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}